In [13]:
import yfinance as yf
import pandas as pd

In [41]:
def getTickers(excel_file):
    pass

In [42]:
df = pd.read_csv('Yahoo Ticker Symbols - September 2017.csv')[3:]

/home/sheil/miniconda3/envs/stockprediction/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [43]:
df

,Yahoo Stock Tickers,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
3,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA,NaN,NaN,Samir Khan
4,AAPL,Apple Inc.,NMS,Electronic Equipment,USA,NaN,NaN,simulationconsultant@gmail.com
5,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA,NaN,NaN,NaN
6,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA,NaN,NaN,This ticker symbol list was downloaded from
7,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA,NaN,NaN,http://investexcel.net/all-yahoo-finance-stock...
...,...,...,...,...,...,...,...,...
106326,G5N.SG,"Groupon Inc. Reg. Shares DL-,00",STU,NaN,Germany,NaN,NaN,NaN
106327,N1H.AX,N1 Holdings Limited,ASX,Mortgage Investment,Australia,NaN,NaN,NaN
106328,1K2.BE,"K2M GROUP HLDGS DL-,001",BER,NaN,Germany,NaN,NaN,NaN
106329,2RM.BE,"RE/MAX HLDGS A DL -,0001",BER,NaN,Germany,NaN,NaN,NaN
106330,2RM.F,"RE/MAX Holdings, Inc.",FRA,NaN,France,NaN,NaN,NaN

In [44]:
df = df.rename(columns={'Yahoo Stock Tickers': 'ticker',
 'Unnamed: 1': 'name',
 'Unnamed: 2': 'Exchange',
 'Unnamed: 3': 'Industry/Sector',
 'Unnamed: 4': 'Country',
 'Unnamed: 5': 'Unnamed: 1',
 'Unnamed: 6': 'Unnamed: 2'}).reset_index()

In [45]:
df

,index,ticker,name,Exchange,Industry/Sector,Country,Unnamed: 1,Unnamed: 2,Unnamed: 7
0,3,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA,NaN,NaN,Samir Khan
1,4,AAPL,Apple Inc.,NMS,Electronic Equipment,USA,NaN,NaN,simulationconsultant@gmail.com
2,5,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA,NaN,NaN,NaN
3,6,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA,NaN,NaN,This ticker symbol list was downloaded from
4,7,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA,NaN,NaN,http://investexcel.net/all-yahoo-finance-stock...
...,...,...,...,...,...,...,...,...,...
106323,106326,G5N.SG,"Groupon Inc. Reg. Shares DL-,00",STU,NaN,Germany,NaN,NaN,NaN
106324,106327,N1H.AX,N1 Holdings Limited,ASX,Mortgage Investment,Australia,NaN,NaN,NaN
106325,106328,1K2.BE,"K2M GROUP HLDGS DL-,001",BER,NaN,Germany,NaN,NaN,NaN
106326,106329,2RM.BE,"RE/MAX HLDGS A DL -,0001",BER,NaN,Germany,NaN,NaN,NaN
106327,106330,2RM.F,"RE/MAX Holdings, Inc.",FRA,NaN,France,NaN,NaN,NaN

In [64]:
dict_names = {}

In [65]:
for i in range(len(df)):
    dict_names[str(df.name[i])] = str(df.ticker[i])

In [76]:
yf.Ticker(dict_names['Amazon.com, Inc.'])

yfinance.Ticker object <AMZN.SW>

In [72]:
yf.Ticker('AAPL')

yfinance.Ticker object <AAPL>