<a href="https://colab.research.google.com/github/raupadhyaya04/Stock-Prediction-Database/blob/main/Raj_Fri_Jun18_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/30/c0/d0526314971fc661b083ab135747dc68446a3022686da8c16d25fcf6ef07/lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3MB)
     |████████████████████████████████| 6.3MB 4.2MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23455 sha256=64c4958fb4ece4911d3c84d0facd8ce99c6ab62a6ba9dd8f71da1be9de9c239d
  Stored in directory: /root/.cache/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.59

In [5]:
import yfinance as yf
import matplotlib.pyplot as plt
import numpy as np

In [7]:
class AnalyzeStock:
  def __init__(self):
    Ticker_data = _getTickers
    Name_data = _getNames 

  def Analyze(self,ticker_list,corporation_list=None):
    "Does analaysis of stocks based on list of names or ticker id's"
    "Part 1: Take only ticker or corporation lists"
    "Part 2: Efficiently run analysis for all tickers in list (Pandas and lambda fucntions)"
    "Part 3: Return conclusions of analysis"
    pass

  def _getTickers(self):
    pass
  
  def _getNames(self):
    pass

In [8]:
def OnBalanceVolume(ticker):
  volumeYesterday, volumeToday = ticker.history('2d')['Volume'][0], ticker.history('2d')['Volume'][1]
  if volumeYesterday >= volumeToday:
    obv = volumeYesterday
  else:
    obv = volumeToday
  return obv

In [9]:
OnBalanceVolume(yf.Ticker('AMZN'))

2401000

In [10]:
def RSI(ticker_name): # String of the Stock name for example 'AAPL'
  # 1. get 14 day chart of prices
  # 2. Add 2 new columns to dataframe (Column for gain, column for loss)
  # 3. Calculate RS (Relative Strength): Avg Gain/ Avg Loss | Avg_Gain =(Gain/14).. 
  # 4. Calculate RSI = 100 - (100/(1+RS))
  ticker = yf.Ticker(ticker_name)
  df = ticker.history(period='15d')
  df = df.reset_index()
  df["Gain"] = df.Close - df.Close.shift(1)
  df["Gain"] = np.where(df["Gain"]<=0,0,df["Gain"])
  df["Loss"] = df.Close - df.Close.shift(1)
  df["Loss"] = np.where(df["Loss"]>=0,0,abs(df["Loss"])) #neeed to calculate RS and put into RSI forumla now
  return df # return the RSI formula

In [11]:
RSI('AAPL')

         Date        Open        High  ...  Stock Splits      Gain      Loss
0  2021-06-11  126.529999  127.440002  ...             0       NaN       NaN
1  2021-06-14  127.820000  130.539993  ...             0  3.129997  0.000000
2  2021-06-15  129.940002  130.600006  ...             0  0.000000  0.839996
3  2021-06-16  130.369995  130.889999  ...             0  0.509995  0.000000
4  2021-06-17  129.800003  132.550003  ...             0  1.639999  0.000000
5  2021-06-18  130.710007  131.509995  ...             0  0.000000  1.329987
6  2021-06-21  130.300003  132.410004  ...             0  1.839996  0.000000
7  2021-06-22  132.130005  134.080002  ...             0  1.679993  0.000000
8  2021-06-23  133.770004  134.320007  ...             0  0.000000  0.279999
9  2021-06-24  134.449997  134.639999  ...             0  0.000000  0.289993
10 2021-06-25  133.460007  133.889999  ...             0  0.000000  0.300003
11 2021-06-28  133.410004  135.250000  ...             0  1.669998  0.000000
12 2021-06-29  134.800003  136.490005  ...             0  1.550003  0.000000
13 2021-06-30  136.169998  137.410004  ...             0  0.630005  0.000000
14 2021-07-01  136.600006  137.190002  ...             0  0.000000  0.770004

[15 rows x 10 columns]